
name: Spring Boot CI with Gradle

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'info'
  push:
    branches:
    - "**"
    paths:
      - "**"
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:    
    - name: init-checkout
      uses: actions/checkout@v3
    - name: init-java
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
    - name: init-gradle
      uses: gradle/gradle-build-action@v2
      with:
        gradle-version: current
    - name: build-boot
      run: |
        gradle build -x test
    - name: test-boot
      run: |
        gradle -Dspring.profiles.active=tcysql test
